body {font-family:UTMNeoSansIntel, Arial, Helvetica, sans-serif; font-size:13px; color:#333;}

a:focus, a:active {outline:none; text-decoration:none;}
button:focus, button:active {outline:none; text-decoration:none;}

a.more {font-size:14px; color:#fff; background:#aeca2e; padding:5px 10px 3px; border-radius:5px; text-transform:uppercase; margin-top:10px; display:inline-block; border:2px solid #aeca2e;}
a.more:hover {color:#000; background:#fff; border:2px solid #aeca2e; text-decoration:none;}

.hide-block {opacity:0;}
.visible {opacity:1;}

.hide-menu {display:none; position:fixed; width:100%; height:100%; top:0; left:0; background:#000; opacity:0.5; z-index:18;}
.menu-slide {background-color: #000;color: #999;position:fixed;z-index:20; text-align:center; padding-top:40px; opacity:0;}
.menu-slide ul {padding:0; padding-top:20px; list-style:none;}
.menu-slide ul li a {display:inline-block; line-height:30px; font-size:14px; color:#fff; padding:0 20px; letter-spacing:1px;}



#seach-popup .search-input {border-radius:5px 0 0 5px; background:#fff;border:0; width:80%; float:left; display:inline-block;}
#seach-popup .search-submit {border-radius: 0px 5px 5px 0; background:#aeca2e; color:#fff; font-size:18px;width:20%; float:left;display:inline-block;  border: 0;padding:0 12px; line-height:34px; height:34px;}
#seach-popup .modal-content {background:none; position:relative; padding: 100px 60px;  -webkit-box-shadow: none;  box-shadow: none;}
#seach-popup .close {  position: absolute;  top: 0px;  right: 0;  opacity: 1;  background: #AECA2E;  color: #fff;  text-shadow: none;  width: 40px;  height: 40px;  padding-top: 3px; text-align: center;  border-radius: 50%;   font-size: 40px;  vertical-align: middle;}
#seach-popup .modal-backdrop.in {background:#000; opacity:0.9}

#header {display:inline-block; width:100%; background:#2e2a24 url(../images/header-bg.jpg) center;  height: 264px; 
-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
#header .container {position:relative; height:187px;}
#header.home { height:657px; background:#2e2a24 url(../images/home-header-bg.jpg) center;}
#logo {position:absolute; left:50%; margin-left:-100px; top:28px;}
.header-right {position:absolute;right:0; top:20px; color:#fff;}
.header-right .language {display:inline-block;  float: right;}
.header-right .language button {width: 106px; background:none; border:1px solid #686868; border-radius:5px; padding:5px; color:#fff; float:right; font-size:11px; text-shadow:none;}
.header-right .language span {color:#aeca2e;margin-left: 20px;}
.header-right .language ul {width: 106px; min-width:106px; padding:0;}
.header-right .language .dropdown-menu>li>a {padding:5px 10px;font-size:11px;}
.header-right .language .btn-default:focus, .header-right .language .btn-default:hover, .header-right .language .open>.dropdown-toggle.btn-default {background:none; color:#fff;}
.header-right .language .dropdown-menu>li>a:hover {background:#aeca2e; color:#fff; border:0px solid #aeca2e; border-radius:5px; overflow:hidden;}
.header-right .consulting {font-size:18px; clear:both;  margin-top: 40px;}
.header-right .consulting span {font-size:24px;}
.header-right .consulting p {letter-spacing: 4px;}
.header-right .navigator { text-align:center}
.header-right .navigator a {  color: #fff; display: inline-block; border-radius: 50%;  width: 30px;  line-height: 28px;  border: 1px solid #fff;  text-align: center;  font-size: 11px;}
.header-right .navigator a:first-child {float:left;}
.header-right .navigator a:last-child {float:right;}
.header-right .navigator a:hover {color:#aeca2e; border:1px solid #aeca2e;}
#header .container.hide-block  {opacity:1;}

#main-menu {border:1px solid #fff; border-left:0; border-right:0; text-align:center; padding:0; height:70px;list-style:none; margin-bottom:5px;}
#main-menu li {display:inline-block;}
#main-menu li a {display:inline-block; line-height:70px; font-size:14px; color:#fff; padding:0 20px; letter-spacing:1px;}
#main-menu li:hover a {color:#aeca2e; text-decoration:none;}

#bottom {background:#e9e9e9 ;line-height:40px; height:40px; font-size:18px; font-weight:700;}
#bottom a {color:#262626; margin:0 7px;}
#bottom a:hover {color:#9a9a9a;}

#footer {background:#aeca2e;padding:20px 0 30px 0; margin-bottom:40px;}
#footer .column {margin:0; padding:0; list-style:none; float:left; width:20%;}
#footer .column h3 {font-size:18px; font-weight:700; color:#000000;  margin-top: 20px;  margin-bottom: 10px;}
#footer .column li {font-size:11px; font-weight:700; padding:5px 0;}
#footer .column li i {margin-right:10px; font-size:12px; font-weight:bold;}
#footer .column li a {color:#000000;}
#footer div.column {text-align:center; padding-top:20px;}


#slider-text {color:#fff; text-transform:uppercase;opacity:0; visibility:hidden;  height: 0; overflow: hidden;}
#slider-text .item {text-align:center; font-size:18px; font-weight:400; height:365px;}
#slider-text .item h3 {font-size:60px; font-weight:400;}
#slider-text .item h3 b {font-size:72px;font-weight:700;}
#slider-text .item .line {display:inline-block; width:100px; height:1px; background:#fff; margin-bottom:20px;}
#slider-text .item p { letter-spacing:3px; color:#aeca2e; margin-bottom:30px;}
#slider-text .item a.more {padding: 5px 30px 2px;  display: inline-block;}
#slider-text .item a.more:hover {}
#slider-text .carousel-indicators li {width:17px; height:17px; margin:4px;}
#slider-text .carousel-indicators li.active {width:17px; height:17px;}
#slider-text.home {opacity:1; visibility: visible; height:auto;}

.block {padding-top:40px; padding-bottom:40px; font-size:14px; line-height: 24px;}
.block .top { text-align:center;  margin-bottom: 0px;}
.block .top h2 {font-size:36px; color:#000; font-weight:700; text-transform:uppercase; position:relative; margin-bottom: 50px;}
.block .top h2:before {content:""; display:inline-block; width:160px; height:5px; background:#aeca2e; position:absolute; left:50%; bottom:-20px; margin-left:-80px;}
.block .top h2:after {content:""; display:inline-block; 	width: 0;	height: 0;	border-left: 6px solid transparent;	border-right: 6px solid transparent;	border-top: 10px solid #aeca2e;position:absolute; left:50%; bottom:-30px; margin-left:-6px;}
.block > p {font-size:18px; font-weight:700; line-height:30px; text-transform:uppercase; text-align:center}


#welcome {padding-top:40px; padding-bottom:60px; text-align:center;}
#welcome .top { text-align:center;  margin-bottom: 0px;}
#welcome .top h2 {font-size:36px; color:#000; font-weight:700; text-transform:uppercase; position:relative;margin-bottom: 50px;}
#welcome .top h2:before {content:""; display:inline-block; width:160px; height:5px; background:#aeca2e; position:absolute; left:50%; bottom:-20px; margin-left:-80px;}
#welcome .top h2:after {content:""; display:inline-block; 	width: 0;	height: 0;	border-left: 6px solid transparent;	border-right: 6px solid transparent;	border-top: 10px solid #aeca2e;position:absolute; left:50%; bottom:-30px; margin-left:-6px;}
#welcome  > p {font-size:18px; font-weight:700; line-height:30px; text-transform:uppercase; margin-bottom:40px}
#welcome .block {padding:0;}
#welcome .article {text-align:left; width:25%; float:left; padding-right:50px;}
#welcome .article h3 {font-size:30px; font-weight:400;}
#welcome .article h3 img{float:left;   margin-right: 10px;  margin-top: -15px;}
#welcome .article p {color:#6f6f6f; font-size:14px; line-height:24px;}
#welcome .article a.more {font-size:14px; color:#fff; background:#aeca2e; padding:5px 10px 3px; border-radius:5px; text-transform:uppercase; margin-top:10px; display:inline-block; border:2px solid #aeca2e;}
#welcome .article a.more:hover {color:#000; background:#fff; border:2px solid #aeca2e; text-decoration:none;}

#wwa { height:470px; background:#f4f3f2 url(../images/home-wwa-bg.jpg) center top no-repeat;}
#wwa .wwa-content {text-align:center; color:#6f6f6f; margin:40px auto; padding:0 40px;}

#consulting {height:117px; background:#262628 url(../images/home-free-cul-bg.jpg); color:#fff; padding:20px 40px;}
#consulting .block {padding:0;}
#consulting h2 {float:left; font-size:36px; font-weight:700; text-transform:uppercase; width:35%;}
#consulting p {float:left;width:30%;}
#consulting span {float:right; display:inline-block;font-size:36px; font-weight:700; background:#aeca2e; line-height:40px;  border-radius: 5px;  padding: 10px 10px 7px;  margin-top: 10px;}

#activity {text-align:center; background:url(../images/home-smoa-bg.jpg) center top no-repeat; border:1px solid #d7d7d7;}
#activity .image {margin-bottom:20px; margin-top:10px;}
#activity a.more {font-size:18px; color:#fff; background:#aeca2e; padding:5px 20px 3px; border-radius:5px; text-transform:uppercase; margin-top:40px; display:inline-block; border:2px solid #aeca2e;}
#activity a.more:hover {color:#000; background:#fff; border:2px solid #aeca2e; text-decoration:none;}

#news { background:url(../images/home-news-bg.jpg) center 250px no-repeat;}
#news .top {margin-bottom:70px;}
#news .featured-news {float:left; width:50%; padding-right:30px; margin-top:30px;}
#news .featured-news .item .image{ padding:0px; background:#fff; border:15px solid #e9e9e9; margin-bottom:20px; width:540px; height:509px;}
#news .featured-news .item .image img {max-width:510px; max-height:480px;}
#news .featured-news .item .meta {font-size:12px; color:#bdbdbd;}
#news .featured-news .item .meta .date {display:inline-block; background:url(../images/icon-date.png) 0px 3px no-repeat; padding-left:25px; margin-right:30px;}
#news .featured-news .item .meta .comment {display:inline-block; background:url(../images/icon-comment.png) 0px 5px no-repeat; padding-left:25px;}
#news .featured-news .item .title {font-size:18px; font-weight:700; color:#000; margin:20px 0; line-height:24px;  margin-bottom: 10px;}
#news .featured-news .item .title a {color:#000;}
#news .featured-news .item .content {color:#6f6f6f;max-height: 96px;  overflow: hidden;}
#news .featured-news .item:hover a {text-decoration:none; color:#aeca2e;}

#news .latest-news {float:right; width:50%; padding-left:15px; overflow:hidden; height:740px;}
#news .latest-news .item {margin-bottom:20px;}
#news .latest-news .item:before,
#news .latest-news .item:after {content:""; display:table; clear:both;}
#news .latest-news .item .image{ padding:0px; background:#fff; border:0px solid #e9e9e9; margin-bottom:0px; width:200px; height:134px; float:left;  margin: 0 30px 0 0px;}
#news .latest-news .item .image img {max-width:200px; max-height:134px;}
#news .latest-news .item .meta {font-size:12px; color:#bdbdbd;}
#news .latest-news .item .meta .date {display:inline-block; background:url(../images/icon-date.png) 0px 3px no-repeat; padding-left:25px; margin-right:30px;}
#news .latest-news .item .meta .comment {display:inline-block; background:url(../images/icon-comment.png) 0px 5px no-repeat; padding-left:25px;}
#news .latest-news .item .title {font-size:18px; font-weight:700; color:#000; margin:20px 0; line-height:24px;  margin-bottom: 10px; margin-top:0;}
#news .latest-news .item .title a {color:#000;}
#news .latest-news .item .content {color:#6f6f6f;  max-height: 50px;  overflow: hidden;}
#news .latest-news .item:hover a {text-decoration:none; color:#aeca2e;}

#breadcumbs {border-bottom:1px solid #d7d7d7; margin-bottom:20px;}
.breadcrumb {margin-bottom:0; background:none;}
.breadcrumb a {color:#000;}
.breadcrumb .active {color:#aeca2e;}
#breadcumbs.home {display:none;}

.contact-page {}
#contact-us .container.content {margin-top:80px;}
#contact-us .company-info {width: 32%; float:left;}
#contact-us .company-info h3 { font-size:18px; font-weight:700; color:#000; text-transform: uppercase; margin-bottom:30px;}
#contact-us .company-info ul {margin:0; padding:0; list-style:none; border-top:1px solid #000;}
#contact-us .company-info ul li { border-bottom:1px solid #000; padding:10px 0; font-size:12px;}
#contact-us .company-info ul li i {font-size:32px; display:inline-block; width:100px; height:100px; text-align:center; color:#000; float:left;}
#contact-us .company-info ul li div { margin-left:100px;}
#contact-us .company-info ul li div span {font-size:14px; font-weight:700; text-transform:uppercase;}
#contact-us .message {width:60%; float:right;}
#contact-us .message h3 { font-size:18px; font-weight:700; color:#000; text-transform: uppercase; margin-bottom:30px;}
#contact-us .message .left {width:30%; float:left;}
#contact-us .message .form-control { margin-bottom:40px; border:1px solid #000; background:#fff; border-radius:0;padding: 10px 12px;  height: auto;}
#contact-us .message textarea.form-control { width:60%; float:right; height:200px;}
#contact-us .message button {float:left;  clear: both;font-size:14px; color:#fff; background:#aeca2e; padding:5px 10px 3px; border-radius:5px; text-transform:uppercase; margin-top:10px; display:inline-block; border:2px solid #aeca2e;}
#contact-us .message button:hover {color:#000; background:#fff; border:2px solid #aeca2e; text-decoration:none;}
#contact-page .map { background:#f2f2f2 url(../images/contact-address-bg.jpg) top center no-repeat; height:443px; margin-bottom:100px;}

#services .container.content {margin-top:100px;}
#services .col-md-4 {height:282px; position:relative;}
#services .service {text-align:center; border:1px solid #d7d7d7; position:relative;  padding: 20px; margin-bottom:72px; height:210px; position:absolute;  width: 92%;
-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#services .service .icon { position:absolute; top:-33px; left:50%; margin-left:-33px; width:66px; height:66px; overflow:hidden; background:#fff; border-radius:50%; border:1px solid #d7d7d7;
-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#services .service .icon img{ float:left;}
#services .service h3 {font-size:18px; font-weight:700; text-transform:uppercase; margin-top:40px;  margin-bottom: 15px;}
#services .service p {margin-bottom: 43px;}
#services .service .image {max-height:0; overflow:hidden; margin-left:-20px;  margin-left: -20px;  margin-right: -20px;  margin-bottom: -20px;
-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#services .middle .service {background:#aeca2e url(../images/service-mid-img.jpg) bottom center no-repeat; color:#fff; height:492px;}
#services .col-md-12 {text-align:center; padding:0px 0 150px;}
#services .more {margin:auto; font-size:18px; padding:7px 20px 5px;}
#services .service:hover {background:#aeca2e; color:#fff; height:auto; z-index:2;}
#services .service:hover .icon {background:#aeca2e;border:1px solid #aeca2e;}
#services .service:hover .icon img {float:right;}
#services .service:hover .image {max-height:500px;}


#physiology .content .col-md-4 img {border:10px solid #ededed; box-shadow:-30px -30px 0 #aeca2e; float:left; margin-top:50px;}
#physiology .content  h3 {font-size:18px; font-weight:700; text-transform:uppercase; line-height:24px;}
#physiology .content  p.italic {font-style:italic; font-size:12px; color:#999999; border-left:5px solid #ebebeb; padding-left:10px;}

#vision {background:url(../images/about-bg-vision.jpg) center top; height:476px;}
#vision .container {width:800px; text-align:center;}  
#vision .more {width:150px; font-size:18px; display:inline-block; margin-top:20px;}

#words {background:#aeca2e; color:#fff;}
#words .top h2 {color:#fff; text-align:left; border-left:0px solid #fff; position:relative; margin-bottom:20px;}
#words .top h2:before {content:""; display:inline-block; width:5px; height: 40px;  background: #fff;  position: absolute;  left: -20px;  bottom: 9px;  margin: 0;}
#words .content > p {font-size:14px;}
#words .social a {color:#fff;margin:20px 80px 50px 0; font-size:36px; display:inline-block;}
#words .slider-customer { position:relative;margin-bottom: -40px;}
#words .slider-customer button { display:inline-block; background:none; border:0;  font-family:FontAwesome; font-size:0; position:absolute; top:45%;}
#words .slider-customer button:before {font-size:42px;}
#words .slider-customer button.slick-prev {left:-40px;}
#words .slider-customer button.slick-prev:before {content:"\f104";}
#words .slider-customer button.slick-next {right:-40px;}
#words .slider-customer button.slick-next:before {content:"\f105";}
#words .slider-customer button:hover {color:#000;}
#words .slider-customer .slick-slide {text-align:center;}
#words .slider-customer .slick-slide img {display:inline-block;}


#happy {background:#f2f0f0 url(../images/about-bg-happy.jpg) center bottom no-repeat; height:412px;}
#happy .content {padding-top:10px;}
#happy .content > div { text-align:center;}
#happy .content h3 {font-size:18px; font-weight:400; font-style:italic; color:#000;}
#happy .content p {font-size:36px; font-weight: 800;  font-family: sans-serif;}

#team {margin-bottom:100px;}
#team .member{ text-align:center;  padding: 0 65px; position:relative;}
#team .member .image {display: inline-block; width:225px; height:225px; border-radius:50%; overflow:hidden; margin-bottom:20px; position:relative;}
#team .member .image:after {content:""; display:inline-block; width:100%; height:100%; background:rgba(174,202,46,0.8); position:absolute; left:0; top:0; border-radius:50%;opacity:0;
-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#team .member .name {font-size:24px; font-weight:700;}
#team .member .title {font-size:14px; color:#999999; font-weight:700; margin-bottom:5px;}
#team .member .description { font-size:13px; line-height:18px}
#team .member .contact { position:absolute; top:100px; left:0;  width: 100%; text-align:center;opacity:0;
-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#team .member .contact a {margin:0 10px; font-size:20px; color:#fff;}
#team .member:hover .image:after{opacity:1;}
#team .member:hover .contact {opacity:1;}
